.main{
position: relative;
width: 100%;
height: 100%;
background-image: linear-gradient(160deg,rgb(0,0,0),rgb(0,0,0,0.1));
z-index: 1;

}
.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  opacity: 0;
  animation: show 1s 1;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  background-image: linear-gradient(90deg, rgb(51, 51, 53) 20%, rgba(0, 0, 0, 0.1));
}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.tihvin{
    position: absolute;
    background-image: url(../../static/img/tihvin2.png);
    background-position: center;
    z-index: 0;
    
}
.volhov{
    position: absolute;
    background-image: url(../../static/img/volhov2.png);
    background-position: center;
    z-index: 0;

width: 100%;
height: 100%;

}