
.form{
    @apply  bg-gray-300 p-3
/* width: 500px; */
/* background-color: gray; */
}
h3{color: rgb(11, 11, 11);}
.form__item{
    @apply my-4
}
.form__field{
    @apply my-4 relative  border-2 rounded-md border-gray-900 block  h-10 bg-gray-300 
}
.form__item_file{
    @apply my-4 relative  border-2 rounded-md border-gray-900 block  h-32 bg-gray-300 cursor-pointer
}
.form__input{

@apply absolute outline-none  left-2 bottom-0 bg-gray-300
}
.form__input:valid+span,
.form__input:focus+span{
    @apply left-3 -top-3.5 transition-all ease-out duration-500 bg-gray-300  px-1
}
.form__span{
@apply inline-block absolute left-2 cursor-text
    
}
.form__field_file{
    @apply my-4 relative  border-2 rounded-md border-gray-900 block
}

.form__span_file{
@apply inline-block absolute top-0 left-10
}
.form__input_file{
    /* border: 1px solid rgb(59, 60, 62); */
    /* display: none; */
    position: absolute; 
     top:0;
    left: 0;
    line-height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    width: 20;
    height: 10; 
    /* overflow: hidden; */
}
.form__svg{
    @apply border-2 inline-block
}
.btn{
@apply border-2 px-2 border-gray-900 rounded-md
}
.img{



}
.img>img{
    display: inline-block;
    margin: 0px 5px;
    min-width: 50px;
    height: 65px;
}

.line{}
